{% extends "base.html" %}

{% block content %}
<header><h1>Create Alert</h1></header>
<section class="create-alert-form">
    <form action="/alerts/new" method="post">
        <div class="form-group">
            <label for="item_url">Item URL</label>
            <input class="form-control" id="item_url" name="item_url" type="text"/>
        </div>

        <div class="form-group">
            <label for="price_limit">Price limit</label>
            <input aria-describedby="priceLimitHelp" class="form-control" id="price_limit" name="price_limit"
                   placeholder='120' type="text"/>
            <small class="form-text text-muted" id="priceLimitHelp">
                Under which price for the item would you like to get notified?
            </small>
        </div>
        <button class="btn btn-primary" type="submit">Create</button>

    </form>
</section>

{% endblock %}